html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.ball {
  background-color: grey;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
}
